<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuredemofunctionmps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6f6c576a-7c8f-4353-8104-a8041fd8f674/resourceGroups/MicroPlusWeb/providers/Microsoft.Web/sites/azuredemofunctionmps</ResourceId>
    <UserName>$azuredemofunctionmps</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azuredemofunctionmps.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>